.colors {
  color: #003049;
  color: #d62828;
  color: #f77f00;
  color: #fcbf49;
  color: #eae2b7;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #003049;
  position: relative;
  /* z-index: 10; */
}

.navbarContainer .leftList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  max-width: 800px;
  padding: 0;
  margin: 0;
  z-index: 20;
  /* margin-left: auto; */
}

.navbarContainer .rightList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  max-width: 800px;
  padding: 0;
  margin: 0;
  z-index: 20;
  /* margin-left: auto; */
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

img {
  height: 40px;
}

.navbarContainer li {
  list-style: none;
}

.navbarContainer a {
  padding: 5px 10px;
  color: #eae2b7;
  text-decoration: none;
}
.active {
  color: #f77f00;
}

.exitToApp,
.goBack {
  border: none;
  background-color: transparent;
  color: #fcbf49;
  padding: 10px;
  cursor: pointer;
}

.exitToApp {
  padding-right: 15px;
}

.exitToApp svg {
  vertical-align: middle;
}

.goBack {
  display: flex;
  align-items: center;
}

.navNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.navNameSmall {
  font-size: x-small;
  color: #eae2b7;
}

.navName {
  font-size: small;
  color: #eae2b7;
}
