.colors {
  color: #003049;
  color: #d62828;
  color: #f77f00;
  color: #fcbf49;
  color: #eae2b7;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #003049;
}
.navbarContainer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  max-width: 800px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  padding-right: 20px;
}

.navbarContainer li {
  list-style: none;
}

.navbarContainer a {
  padding: 5px 10px;
  color: #eae2b7;
  text-decoration: none;
}
.active {
  color: #f77f00;
}

.exitToApp,
.goBack {
  border: none;
  background-color: transparent;
  color: #fcbf49;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
}

.goBack {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
