.exerciseList {
  width: 400px;
}

.exercise {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.exerciseDescription {
  margin: 10px;
  margin-left: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise button {
  margin-left: 10px;
}
