colors {
  --primary-color: #4caf50;
  --secondary-color: #ff5722;
  --blue-color: #2196f3;
  --font-super-light: #eae2b7;
  --font-light: #4888aa;
  --font-dark: #003049;
  --bgc-dark: #003049;
  --font-active: #fcbf49;
}
.basic {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  touch-action: none;
  outline: none;
}

.basic svg {
  font-size: 1.6em;
}

.primary {
  color: var(--primary-color);
}

.primary:disabled {
  color: grey;
}

.secondary {
  color: var(--secondary-color);
}

.edit {
  color: var(--blue-color);
}

.create {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid;
}

.cancel {
  color: var(--secondary-color);
  border: 1px solid;
}

.details {
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--blue-color);
}
