/* .colors {
  color: #003049;
  color: #d62828;
  color: #f77f00;
  color: #fcbf49;
  color: #eae2b7;
} */

.basic {
  padding: 7px;
  margin-left: 0;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  touch-action: none;
  outline: none;
  transition-duration: 0.2s;
}

.basic svg {
  font-size: 1.6em;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.edit {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.edit:hover {
  color: var(--primary-color-darker);
  background-color: var(--primary-color-transparent);
  border: 1px solid var(--primary-color-darker);
}

.create {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.create:hover {
  background-color: var(--primary-color-darker);
  border: 1px solid var(--primary-color-darker);
}

.cancel {
  color: var(--secondary-color);
  border: 1px solid;
}

.cancel:hover {
  color: var(--secondary-color-darker);
  background-color: var(--secondary-color-transparent);
  border: 1px solid;
}

.default {
  color: black;
  background-color: var(--grey);
  /* border: 1px solid Gainsboro; */
}

.default:hover {
  color: black;
  background-color: var(--grey-light);
  /* border: 1px solid lightgrey; */
}

.lowPriority {
  color: black;
  border: 1px solid var(--grey);
}

.lowPriority:hover {
  border: 1px solid var(--grey-dark);
  background-color: var(--grey-transparent);
}
