.header {
  width:100%;
  background-color:  var(--bgc-dark);
  text-align: center;
}

.quoteAuthor {

}
.logo {
  width: 30%;
  height: auto;
  margin-bottom: 2vh;
}

.article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 40px;
  margin: 5px auto;
  width: 100%;
  max-width: 1000px;
  /* border-radius: 10px; */
  /* box-shadow: 
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px; */
}
  
.ilustration {
  width: 70%;
  height: auto;
  align-self: flex-end;
}


.section {
  /* display: flex; */
  width: 62%;
  align-self: flex-start;
  margin-top: -95px;
  /* color: red; */


}

.h3 {
  width: 40%;
  margin: 0;
}